[submodule "util"]
	path = util
	url = git@github.com:EssentialBlocks/controls.git
[submodule "lib/style-handler-inline"]
	path = lib/style-handler-inline
	url = git@github.com:EssentialBlocks/style-handler-inline.git
